<!DOCTYPE html>
<html lang="en" ng-app="WamApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../app.js"></script>
    <!--<link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet">-->
    <link href="../../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="container-fluid">

        <!--our view-->
        <div>

            <!--<div ng-show="welcomeUser" class = "alert alert-info">-->
                <!--Welcome back!-->
            <!--</div>-->

        <h1>Login</h1>
        <label for="username">Username</label>
        <input name="username"
                type="text"
                ng-model="model.user.username"
                id="username"
                class="form-control"
                placeholder="username"/>
        <label for="password">Password</label>
        <input name="user.password"
                type="password"
                id = "password"
                ng-model="model.user.password"
                class="form-control"
                placeholder="password">
        <a class="btn btn-primary btn-block"
           href="#!/login"
            ng-click="login(user)"
            role="button">Login</a>
        <a class="btn btn-success btn-block"
           href="register.view.html"
           role="button">Register</a>
    </div>

    </div>

</body>
</html>