input {
    margin-bottom: 5px;
}

textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 80px;
}

.wl .navbar-custom {
    background-color: #337ab7;
    border-color: ghostwhite;
}

.wl .navbar-custom .navbar-brand {
    color: #f5f5f5;
}

.wl .navbar-custom .navbar-nav > li > a {
    color: #f5f5f5;
}

.wl .navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
    color: #23527c;
    background-color: transparent;
}

/*.wl .navbar-default .navbar-brand {*/
/*color: #f5f5f5;*/
/*}*/

/*.wl .navbar-default .navbar-nav>li>a{*/
/*color: #f5f5f5;*/
/*}*/

/*.wl .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {*/
/*color: #23527c;*/
/*}*/

.wl-navLeft {
    margin-left: -15px;
}

.wl .wl-navRight {
    margin-right: -15px;
}

.wl > a {
    color: #f5f5f5;
}

.wl .widget {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 5px;
}

.wl .widget-toolbar {
    position: absolute;
    right: 15px;
    z-index: 1;
    background: white;
}

.wl .widget > img {
    width: 100%;
}

.wl .away-from-footer {
    padding-bottom: 60px;
}

.wl .videoFrame {
    width: 100%;
    height: 350px;
}

.wl .wl-blackIcon {
    color: black;
}

.wl-noUnderLine > a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

.wl-button{
    margin-top: 8px;
}

.youtube-widget{
    position: relative;
    padding-bottom:56.25%;
    height :0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



