    <div class="container-fluid">

        <!--<div ng-show="model.user" class="alert alert-info">-->
            <!--Welcome back {{model.user.username}}-->
        <!--</div>-->

        <div ng-show="model.alert" class="alert alert-danger">
                {{model.alert}}
            </div>

            <h1>Login</h1>
        <label for="username">Username</label>
        <input name="name"
               ng-model="model.user.username"
                type="text"
                id="username"
                class="form-control"
                placeholder="username"/>
        <label for="password">Password</label>
        <input name="password"
               ng-model="model.user.password"
                type="password"
                id = "password"
                class="form-control"
                placeholder="password">
        <a class="btn btn-primary btn-block"
           ng-click="model.login(model.user)"
           role="button">Login</a>
        <a class="btn btn-success btn-block"
           href="#!/register"
           role="button">Register</a>
    </div>
