<div class="wl wl-profile">
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand wl-navLeft">Profile</div>
            <ul class="nav navbar-nav pull-right wl-navRight">
                <li>
                    <a role="button"
                       ng-click="model.updateUser(model.user)">
                        <span class="pull-right glyphicon glyphicon-ok"></span> </a>
                </li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <label for="username">Username</label>
        <input name="username"
               readonly
               ng-model="model.user.username"
               type="text"
               id="username"
               class="form-control"
               placeholder="username"
               value="jannunzi"/>
        <label for="email">Email</label>
        <input name="email"
               ng-model="model.user.email"
               type="email"
               id="email"
               class="form-control"
               placeholder="alice@wonderland.com"
               value="jannunzi@gmail.com">
        <label for="firstName">First Name</label>
        <input name="firstName"
               ng-model="model.user.firstName"
               type="text"
               id="firstName"
               class="form-control"
               placeholder="firstname"
               value="Jose"/>
        <label for="lastName">Last Name</label>
        <input name="lastName"
               ng-model="model.user.lastName"
               type="text"
               id="lastName"
               class="form-control"
               placeholder="lastName"
               value="Annunziato"/>

        <a class="btn btn-primary btn-block"
           href="#!/user/{{model.user._id}}/website"
           role="button">Websites</a>
        <a class="btn btn-warning btn-block"
           ng-click="model.unregister()"
           role="button">Unregister</a>
        <a class="btn btn-danger btn-block"
           href="#!/login"
           role="button">Logout</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <ul class="nav navbar-nav pull-right wl-navRight">
                <li><a href="#!/user/{{model.user._id}}">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</div>