<div class="wl wl-website-edit">

    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 hidden-xs">
                    <!--<div class="wl">-->
                    <a href="#!/user/{{model.userId}}/website"
                       role="button"
                       class="navbar-brand">
                        <span class="pull-left glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <!--</div>-->
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand">Websites</div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#!/user/{{model.userId}}/website/new"
                               role="button">
                                <span class="pull-right glyphicon glyphicon-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 hidden-xs">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-brand">Edit Website</div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ng-click="model.websiteUpdate(model.editWebsite)"
                               role="button">
                                <span class="pull-right glyphicon glyphicon-ok"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 visible-xs">
                    <nav class="navbar navbar-custom navbar-fixed-top">
                        <div class="container-fluid">
                            <div class="wl">
                                <a href="#!/user/{{model.userId}}/website"
                                   role="button"
                                   class="navbar-brand wl-navLeft">
                                    <span class="pull-left glyphicon glyphicon-chevron-left"></span>
                                </a>
                            </div>
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-brand wl-navLeft">Edit Website</div>
                            <ul class="nav navbar-nav pull-right wl-navRight">
                                <li>
                                    <a ng-click="model.websiteUpdate(model.editWebsite)"
                                       role="button">
                                        <span class="pull-right glyphicon glyphicon-ok"></span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-4 hidden-xs">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-xs-10">Website Name</div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.userId}}/website/new"
                                   role="button">
                                    <span class="pull-right glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li ng-repeat="website in model.websites" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10"><a href="#!/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                            </div>
                            <div class="col-xs-2"><a href="#!/user/{{model.userId}}/website/{{website._id}}"> <span
                                    class="pull-right glyphicon glyphicon-cog"></span>
                            </a>
                            </div>
                        </div>
                    </li>

                    <!--<li class="list-group-item">-->
                    <!--<div class="row">-->
                    <!--<div class="col-xs-10"><a href="../../page/templates/page-list.view.client.html">Address Book App</a></div>-->
                    <!--<div class="col-xs-2"><a href="website-edit.view.client.html"> <span class="pull-right glyphicon glyphicon-cog"></span>-->
                    <!--</a></div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li class="list-group-item">-->
                    <!--<div class="row">-->
                    <!--<div class="col-xs-10"><a href="../../page/templates/page-list.view.client.html">Script Testing App</a></div>-->
                    <!--<div class="col-xs-2"><a href="website-edit.view.client.html"> <span class="pull-right glyphicon glyphicon-cog"></span>-->
                    <!--</a></div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li class="list-group-item">-->
                    <!--<div class="row">-->
                    <!--<div class="col-xs-10"><a href="../../page/templates/page-list.view.client.html">Blogger</a></div>-->
                    <!--<div class="col-xs-2"><a href="website-edit.view.client.html"> <span class="pull-right glyphicon glyphicon-cog"></span>-->
                    <!--</a></div>-->
                    <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>


            <div class="col-xs-12 col-sm-8">
                <label for="name">Website Name</label>
                <input name="name"
                       ng-model="model.editWebsite.name"
                       type="text"
                       id="name"
                       class="form-control"
                       placeholder="Name"
                />
                <label for="description">Website Description</label>
                <textarea name="description"
                          ng-model="model.editWebsite.description"
                          type="text"
                          rows="5" ;
                          id="description"
                          class="form-control"
                          placeholder="Description">
                </textarea>
                <a class="btn btn-danger btn-block"
                   role="button"
                   ng-click="model.websiteDelete()">Delete</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <ul class="nav navbar-nav pull-right wl-navRight">
                <li><a href="#!/user/{{model.userId}}">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</div>