<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="wl">
        <a href="widget-list.view.client.html"
           class="navbar-brand wl-navLeft">
            <span class="pull-left glyphicon glyphicon-chevron-left"></span>
        </a>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand wl-navLeft">Widgets</div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <ul class="list-group-item">
            <a href="widget-heading.view.client.html">Header</a>
        </ul>
        <ul class="list-group-item">
            <a href="">Label</a>
        </ul>
        <ul class="list-group-item">
            <a href="">HTML</a>
        </ul>
        <ul class="list-group-item">
            <a href="">Text Input</a>
        </ul>
        <ul class="list-group-item">
            <a href="">Link</a>
        </ul>
        <ul class="list-group-item">
            <a href="">Button</a>
        </ul>
        <ul class="list-group-item">
            <a href="widget-image.view.client.html">Image</a>
        </ul>
        <ul class="list-group-item">
            <a href="widget-youtube.view.client.html">YouTube</a>
        </ul>
        <ul class="list-group-item">
            <a href="">Data Table</a>
        </ul>
        <ul class="list-group-item">
            <a href="">Repeater</a>
        </ul>

    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <ul class="nav navbar-nav pull-right wl-navRight">
            <li><a href="../../website/templates/website-new.view.client.html">
                <span class="pull-right glyphicon glyphicon-user"></span>
            </a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>