<div class="col-xs-12">
    Text
    <input ng-model="model.widget.text" class="form-control"/>
    Rows
    <input ng-model="model.widget.rows" class="form-control" type="number"/>
    Placeholder
    <input ng-model="model.widget.placeholder" class="form-control"/>
    Formatted
    <input ng-model="model.widget.formatted" type="checkbox"/>

    <div ng-if="model.widget.formatted" text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"
    ></div>
    <input ng-if="!model.widget.formatted && (!model.widget.rows || widget.rows===1)"
           placeholder="{{model.widget.placeholder}}" class="form-control"/>
    <textarea ng-if="!model.widget.formatted && (model.widget.rows > 1)"
              rows="{{model.widget.rows}}" placeholder="{{model.widget.placeholder}}"
              class="form-control">{{model.widget.text}}</textarea>


    <a class="btn btn-danger btn-block"
       ng-click="model.widgetDelete()"
       role="button">Delete</a>
</div>