<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="wl">
        <a href="../../website/templates/website-list.view.client.html"
           class="navbar-brand wl-navLeft">
            <span class="pull-left glyphicon glyphicon-chevron-left"></span>
        </a>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-brand wl-navLeft">Pages</div>
            <ul class="nav navbar-nav pull-right wl-navRight">
                <li>
                    <a href="page-new.view.client.html">
                        <span class="pull-right glyphicon glyphicon-plus"></span>
                    </a>
                </li>
            </ul>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
<ul class="list-group">

    <li class="list-group-item active">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-10">Name</div>
            <div class="col-md-3 col-sm-4 hidden-xs">Updated</div>
            <div class="col-sm-2 hidden-xs">Visits</div>
            <div class="col-xs-2 col-md-4 wl">
                <a href="page-new.view.client.html">
                    <span class="pull-right glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-10"><a href="../../widget/templates/widget-list.view.client.html">Blog Post</a></div>
            <div class="col-md-3 col-sm-4 hidden-xs"></div>
            <div class="col-sm-2 hidden-xs"></div>
            <div class="col-xs-1 col-md-4">
                <a href="page-edit.view.client.html"> <span class="pull-right glyphicon glyphicon-cog"></span>
                </a></div>
            </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-10"><a href="../../widget/templates/widget-list.view.client.html">Blogs</a></div>
            <div class="col-md-3 col-sm-4 hidden-xs"></div>
            <div class="col-sm-2 hidden-xs"></div>
            <div class="col-xs-1 col-md-4"><a href="page-edit.view.client.html"> <span class="pull-right glyphicon glyphicon-cog"></span>
            </a></div></div>
    </li>

    <li class="list-group-item">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-10"><a href="../../widget/templates/widget-list.view.client.html">Home</a></div>
        <div class="col-md-3 col-sm-4 hidden-xs"></div>
        <div class="col-sm-2 hidden-xs"></div>
        <div class="col-xs-1 col-md-4"><a href="page-edit.view.client.html"> <span class="pull-right glyphicon glyphicon-cog"></span>
        </a></div></div>
    </li>

    <li class="list-group-item">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-10"><a href="../../widget/templates/widget-list.view.client.html">Home</a></div>
        <div class="col-md-3 col-sm-4 hidden-xs"></div>
        <div class="col-sm-2 hidden-xs"></div>
        <div class="col-xs-1 col-md-4"><a href="page-edit.view.client.html"> <span class="pull-right glyphicon glyphicon-cog"></span>
        </a></div>
    </div>
</li>

    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-10"><a href="../../widget/templates/widget-list.view.client.html">Contact us</a></div>
            <div class="col-md-3 col-sm-4 hidden-xs"></div>
            <div class="col-sm-2 hidden-xs"></div>
            <div class="col-xs-1 col-md-4"><a href="page-edit.view.client.html"> <span class="pull-right glyphicon glyphicon-cog"></span>
            </a></div>
        </div>
    </li>
</ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <ul class="nav navbar-nav pull-right wl-navRight">
            <li><a href="../../user/templates/profile.view.client.html">
                <span class="pull-right glyphicon glyphicon-user"></span>
            </a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>
