<div class="col-xs-12">
    <label for="name">Name</label>
    <input name="name"
           ng-model="model.widget.name"
           type="text"
           id="name"
           class="form-control"
           placeholder="name"
    />
    <label for="text">Text</label>
    <input name="text"
           ng-model="model.widget.text"
           type="text"
           id="text"
           class="form-control"
           placeholder="text"></input>
    <label for="url">URL</label>
    <input name="url"
           ng-model="model.widget.url"
           type="url"
           id="url"
           class="form-control"
           placeholder="url">
    </input>
    <label for="width">Width</label>
    <!--can be percentage ...px ..., so the type is text-->
    <input name="width"
           ng-model="model.widget.width"
           type="text"
           id="width"
           class="form-control"
           placeholder="width"
           value="100%">
    </input>
    <label for="upload">Upload</label>
    <input name="upload"
           ng-model="model.widget.file"
           type="file"
           id="upload"
           class="form-control">
    </input>

    <a class="btn btn-primary btn-block"
       role="button"
       ng-click="model.widgetUpdate(model.widget)">Upload Image</a>
    <a class="btn btn-danger btn-block"
       role="button"
       ng-click="model.widgetDelete()">Delete</a>
</div>